.container{
    margin-bottom: 90px;
}
.white-bg{
    background-color:white;
}
.carousel-item{
    padding: 10px 20px;
}
.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
}
a,
a:hover {
    text-decoration: none;
    padding-top: 15px;
}
.carousel-indicators li {
    height: 8px;
    width: 10px;
    background-color: orange;
    border-radius: 11px;
}
.carousel-indicators li.active{
    height: 8px;
    width: 25px;
    background-color: orange;
    border-radius: 11px;
}
.see-all{
    color:darkgoldenrod;
}
.card{
    border:none;
}
.card-body{
    text-align:center;
}
#cate-center{
    text-align: center;
}   
.hr{
    width: 80px;
    height: 6px;
    background-color: orange;
    border-radius: 5px;
}
.middle-row{
    padding: 40px 5px;
}
.contact-bg{
    background-color: palegreen;
}
input:focus{
    color:blue;
}
textarea{
    color:blue;
}